<section class="hero">     
     <ul class="hero__list">
        <li><a href="header.component.html" class="link-hover">Inicio</a></li>
        <li><a href="" class="link-hover">Stacks</a></li>
        <li><a href="#" class="link-hover">Projetos</a></li>
        <li><a href="#" class="link-hover">Experiencias</a> </li>
     </ul>
</section>

<header>
  <img
    src="assets/img/mFtFundoC.jpeg"
    alt="Gabriel Macedo - Foto de Perfil"
    loading="eager"
  />
  <h1>Carlos Gabriel Macedo</h1>
</header>

<aside>
  <div class="container">
    <p class="subTitle">Front - End JavaScript | Angular | NodeJs | TypeScript</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim facilis
      quidem incidunt voluptas. Incidunt placeat corrupti quam distinctio iusto
      tempora repellat magnam reprehenderit suscipit temporibus? Ratione nostrum
      dicta quae consequatur!
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/curriculo-dev.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/carlos-gabriel-macedo-766250217/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/icons8-whatsapp-48.png"
          alt="Ícone para contato WhatsApp"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5514997486803&text=0l%C3%A1%20Gabriel, tudo%20certo!?%20"
            target="_blank"
          >
            <strong>Envie uma mensagem :</strong>
            <p>WhatsApp: (14) 997486803</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          class="img_email"
          src="assets/icons/mail.svg"
          alt="Ícone para contato Email"
        />

        <figcaption>
          <a href="https://mail.google.com/mail/?view=cm&to=gm182423@gmail.com" target="_blank">
            <strong>Envie um e-mail :</strong>
            <p>gm182423&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
