:root {
     --primary: rgb(37, 99, 235);
     --primary-010: #3d7991;

     --secondary: #4e6fd8;
     --secondary-010: #2d4af0;

     --white: #fff;

     --black: #000000;
     --black-010: #2a2a30;

     --grey: #9b9ba0;
}
